
body {
    font-family: Arial, sans-serif;
    margin: 30px;
    padding: 20px;
    line-height: 1.6;
    background-color: rgb(240, 188, 197);
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: large;
    margin: 40px;
}

h1 {
    color: rgb(72, 144, 232);
    font-size: var(--font-size-large);
    text-align: center;
}

h2 {
    color: #333;
    font-size: var(--font-size-large);
    text-align: center;
    background-color: gray;
}

h3 {
    color: white;
    font-size: var(--font --font-size-medium);
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    color: rgb(188, 88, 96);
    font-size: var(--font-size-xsmall);
    text-align: center;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    header, footer {
        padding: 10px;
    }
    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    section {
        padding: 10px;
        margin: 10px;
    }
}

form {
    max-width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"], input[type="email"], input[type="radio"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: medium;
    justify-content: center;
    background-color: whitesmoke;
}

input[type="message"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: medium;
    justify-content: center;
    background-color: whitesmoke;
}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    width: 30%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #3bbe46;
}

.error-message {
    color: red;
    font-size: small;
    margin-top: 5px;
    display: none;
}

img {
    max-width: 90%; 
    height: 20%; 
    object-position: center;
}

html {
    scroll-behavior: smooth;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

